<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="success" method="post">
        <center>
        Enter Pickup Location <input type="text" name="source_destination" placeholder="Pickup"><br>
        Enter Destination      <input type="text" name="destination" placeholder="Drop"><br>
        <button type="submit">Submit</button>
    </center>
        </form>
    </form>
</body>
</html>